@media only screen and (max-device-width: 658px) {
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"),
      url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 -2%, 0 107%;
    background-size: auto, contain;
  }
}

.wavy-right {
  background-image: url("../images/about-shape-1.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
}
.wavy-left {
  background-image: url("../images/about-shape-2.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left center;
}

@media only screen and (min-device-width: 659px) and (max-device-width: 1314px) {
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"),
      url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 -2%, 0 107%;
    background-size: auto, contain;
  }
}

@media only screen and (min-device-width: 1315px) {
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"),
      url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 00 -2%, 0 107%;
    background-size: 100% auto, auto;
  }
}
