#section1 {
  background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#section11 {
  background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
  background-position: top center;
  z-index: -1;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* 

@media only screen and (max-device-width: 658px) {
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"), url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size:auto, contain;
  }
}
*/

/* 
@media only screen and (min-device-width: 659px) and (max-device-width: 1314px) {
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"), url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 -2%, bottom;
    background-size: auto, contain;
  }
}

@media only screen and (min-device-width: 1315px){
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"), url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 -2%, bottom;
    background-size:100% auto, 100% auto;
  }

} */

.wavy-right {
  background-image: url("../images/about-shape-1.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
}
.wavy-left {
  background-image: url("../images/about-shape-2.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left center;
}

@media (max-width: 600px) {
  .wavy-right {
    background: none;
  }
  .wavy-left {
    background: none;
  }
}

@media (min-width: 600px) {
  .wavy-right {
    background: none;
  }
  .wavy-left {
    background: none;
  }
}

@media (min-width: 750px) {
  .wavy-right {
    background-image: url("../images/about-shape-1.svg");
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position: right center;
  }
  .wavy-left {
    background-image: url("../images/about-shape-2.svg");
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position: left center;
  }
}

@media (min-width: 992px) {
  .wavy-right {
    background-image: url("../images/about-shape-1.svg");
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position: right center;
  }
  .wavy-left {
    background-image: url("../images/about-shape-2.svg");
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position: left center;
  }
}

@media (min-width: 1200px) {
  .wavy-right {
    background-image: url("../images/about-shape-1.svg");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: right center;
  }
  .wavy-left {
    background-image: url("../images/about-shape-2.svg");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: left center;
  }
}
