/* Button Download Now */
.button-download {
  font-family: "font-awesome", sans-serif;
  font-size: 17px;
  width: 150px;
  height: 32.5px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 132, 99, 1) 0%,
    rgba(255, 109, 154, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 9px;
}

/* Button Try it Free */
.button-try {
  font-family: "font-awesome", sans-serif;
  font-size: 17px;
  width: 158px;
  height: 55px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 132, 99, 1) 0%,
    rgba(255, 109, 154, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 9px;
}

/* Button Subscribe */
.button-subscribe {
  font-family: "font-awesome", sans-serif;
  font-size: 85%;
  /* width: 25%; */
  min-width: 70px;
  /* height: 50px; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 132, 99, 1) 0%,
    rgba(255, 109, 154, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
}

/* Button Get Started */
.button-getstarted {
  font-family: "font-awesome", sans-serif;
  font-size: 17px;
  width: 147px;
  height: 55px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(50, 199, 193, 1) 0%,
    rgba(18, 155, 209, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 9px;
}
