#section {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .subsection {
  width: 1130px;
  min-width: 1130px;
  max-width: 1250px;
  margin: 10px;
} */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}

.center {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.services {
  max-width: 250px;
  background-color: #ffffff;
  padding: 2em 1em;
  box-shadow: 5px 10px 10px rgb(247, 247, 247);
  text-align: center;
  margin-top: 55px;
}

.services h2 {
  font-size: 25px;
}

.services a {
  font-size: 13px;
}

.title > h1 {
  text-align: center;
}
.avantages {
  width: 80%;
}
.title > h2 {
  text-align: center;
  font-size: 25px;
}
#Features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services img {
  background-image: url("/images/services-shape.svg");
}
.title {
  margin-bottom: 2em;
}
.section1 {
  color: white;
  margin-bottom: 5em;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-bg {
  background-image: url("https://raw.githubusercontent.com/tomdemonrivall/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg");
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 1650px;
}

.clean {
  color: black;
}

.between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
