#section1 {
  width: 66%;
}
body {
  height: 3000px;
  margin: 0;
}
.center{
  display: flex;
  justify-content: center;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}
.services {
    max-width: 250px;
    background-color: #ffffff;
    padding: 2em 1em;
    box-shadow: 5px 5px 5px rgb(114, 112, 112);
    text-align: center;
}
.avantages{
    width:80%;
}
.title > h2 {
    text-align: center;
}
#Features {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services img {
 background-image: url("/images/services-shape.svg");
} 
.title {
    margin-bottom: 2em;
}
.section1 {
  width: 66%;
}
.main-container {
  background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg");
  background-repeat: no-repeat;
  background-position:top;
  background-size: contain;
  /* display: flex;
  justify-content: center; */
  height: 973px;
}
.footer-bg{
  background-image:url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg");
  transform:rotate(180deg); ;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
  height: 1650px
}

.clean {
  color: black;
}