#section11 {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* height: 800px; */
  width: 100%;
}

/* CSS moved yo the background.css file
 .top-and-bottom-bg {
  background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"),
    url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: contain, contain;
} */

.footer {
  width: 66%;
  color: white;
  display: flex;
  
  /* flex-wrap: wrap; */
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
}
.fa {
  padding: 2px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  /* background: #3B5998; */
  color: white;
}
.fa-twitter {
  /* background: #55ACEE; */
  color: white;
}
.fa-youtube {
  /* background: #bb0000; */
  color: white;
}

.fa-instagram {
  /* background: #125688; */
  color: white;
}
.quarter {
  width: 25%;
  min-width: 150px;
  max-width: 220px;
  margin-left: 10px;
  margin-right: 10px;
}
.margin-b {
  margin-bottom: 15px;
}
.logo-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.aligned-r {
  padding-inline-start: 0;
}
.ul1 > li {
  margin-bottom: 10px;
  margin-left: 0px;
}
.margin-t {
  margin-top: 30px;
}
.margin-y {
  margin-top: 30px;
  margin-bottom: 30px;
}
.block {
  display: block;
}
.subscribe {
  width: 66%;
  height: 180px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 5px -5px 10px lightgrey;
  font-size: 120%;
}

.font-plus {
  font-size: 150%;
}
.email {
  height: 50px;
  border: none;
  width: 75%;
}
#email-form {
  border: 1px solid lightgrey;
  border-radius: 6px;
}
.half {
  width: 45%;
  margin: 5px;
}
input[type="email" i] {
  padding: 0px;
  padding-left: 25px;
  font-size: 85%;
}

input[type="email" i]:focus {
  outline-width: 0;
}
