/*Start section1-presentation-responsive*/
@media screen and (max-width: 650px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .presentation {
    width: 100%;
    border: none;
    box-sizing: border-box;
  }
  .h1,
  .h4p {
    text-align: center;
  }
  .h4p {
    font-size: 25px;
  }
  .header-hero {
    width: 500px;
  }
  .clients-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
  }
}

/*End section1-presentation-responsive*/

/*Start section3-responsive*/
@media screen and (max-width: 650px) {
  #section3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .image1 {
    width: 500px;
    margin-right: 50px;
    margin-top: 1;
  }
  .description3 {
    text-align: left;
    margin-left: 50px;
  }
}
/*Start section3-responsive*/

/*Start section4-responsive*/
@media screen and (max-width: 650px) {
  #section4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    /* background: gray; */
  }
}

.description4 {
  padding: 0;
  background: none;
  background-image: none;
  text-align: left;
}
.image-related4 {
  margin-top: 50px;
}

.image-related4 .img {
  width: 200px;
}

/*End section4-responsive*/

/*Start section5-responsive*/
@media screen and (max-width: 650px) {
  .image-related img {
    width: 400px;
    margin-right: 50px;
  }
  .description {
    text-align: left;
    margin-right: 50px;
  }
}
/*End section5-responsive*/

/*Start section6-responsive*/
@media screen and (max-width: 650px) {
  .subsection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .position {
    background-size: 350px 350px;
    width: 150px;
    height: 186, 5px;
    margin-left: 0;
    margin-right: 266px;
    margin-top: 50px;
  }
  .description6 {
    margin-top: 50px;
  }
  button {
    margin-top: 50px;
    margin-left: 0;
  }
}
/*End section6-responsive*/

/*Start section7-responsive*/
@media screen and (max-width: 650px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .title-team,
  .redline-team {
    margin-right: 100px;
  }
}
/*Start section7-responsive*/

/*Start section9-responsive*/
@media screen and (max-width: 650px) {
  .blogpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
  }
  .blocks {
    padding-left: 93px;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  .tittle {
    padding-left: 50px;
  }
}

/*End section9-responsive*/

/*Start footer-responsive*/

/*End footer-responsive*/

/*bg-top*/
/* @media screen and (max-width: 650px) {
    .top-and-bottom-bg {
} */
/*Start section8-responsive*/


@media screen and (max-width: 868px) {
  .hide {
    display: none;
  }

  .review {
    width: 80%;
  }
}
/*End section8-responsive*/

/*Start section9-responsive*/
@media screen and (max-width: 650px) {
  .blogpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
  }
  .blocks {
    padding-left: 93px;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  .tittle {
    padding-left: 50px;
  }
}

@media screen and (max-width: 650px) {
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"),
      url("https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 1900px;
    background-size: 2000px;
  }
}

/* @media screen and (max-width: 1200px) {
    .subsection { 
        width: 1130px;
    }
} */

@media (max-width: 600px) {
  .subsection {
    width: 95%;
    min-width: 450px;
  }
  .subscribe {
    flex-direction: row;
    height: 300px;
  }
  #email-form {
    border: 0px solid lightgrey;
    border-radius: 6px;
    flex-direction: column;
  }
  .email {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
  }
  .half {
    width: 90%;
  }
  .button-subscribe {
    width: 100%;
    border-radius: 5px;
    margin-top: 0px;
  }
}

@media (min-width: 600px) {
  .subsection {
    width: 575px;
  }
  .subscribe {
    flex-direction: row;
    height: 300px;
  }
  #email-form {
    border: 0px solid lightgrey;
    border-radius: 6px;
    flex-direction: column;
  }
  .email {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
  }
  .half {
    width: 80%;
  }
  .button-subscribe {
    width: 100%;
    border-radius: 5px;
    margin-top: 0px;
  }
}

@media (min-width: 750px) {
  .subsection {
    width: 720px;
  }
  .subscribe {
    flex-direction: row;
    height: 300px;
  }
  #email-form {
    border: 0px solid lightgrey;
    border-radius: 6px;
    flex-direction: column;
  }
  .email {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
  }
  .half {
    width: 80%;
  }
  .button-subscribe {
    width: 100%;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .subsection {
    width: 950px;
  }
  .subscribe {
    flex-direction: row;
    height: 260px;
  }

  #email-form {
    border: 1px solid lightgrey;
    border-radius: 6px;
    flex-direction: row;
  }
  .email {
    border: 0px solid lightgrey;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 0px;
  }
  .half {
    width: 45%;
  }
  .button-subscribe {
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media (min-width: 1200px) {
  .subsection {
    width: 1130px;
  }
  .subscribe {
    flex-direction: row;
    height: 260px;
  }
  .button-subscribe {
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  #email-form {
    border: 1px solid lightgrey;
    border-radius: 6px;
    flex-direction: row;
  }
  .email {
    border: 0px solid lightgrey;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 0px;
  }
  .half {
    width: 45%;
  }
}
/*Footer mobile devices - Media queries*/

@media screen and (orientation: portrait) and (max-width: 650px) {
  .footer.row.subsection {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1em;
  }
  .column.quarter.logo-media {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2em;
  }
  
.quarter {
  width: 40%;
}
  
.margin-t {
  margin-top: 30px;
  padding-left: 0;
}
#Designed-by > hr {
  width: 100%;
}
.clients-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 300px;
}
}
