@media screen and (max-width: 400px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .pfooter {
    padding-right: 10px;
    padding-left: 10px;
  }
  .bubbles {
    display: none;
  }
  .logo-head {
    padding-left: 13px;
  }
  .h2 {
    font-size: 25px;
  }
  h2 {
    font-size: 25px;
  }
  .presentation {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding-right: 55px;
    margin-top: -75px;
  }
  .h4p {
    text-align: center;
    font-size: 16px;
  }
  .h2,
  .h1 {
    text-align: center;
    font-size: 25px;
  }
  .header-hero {
    width: 350px;
    padding-bottom: 30px;
  }
  .clients-logo {
    width: 400px;
  }
}
/*End section1-presentation-responsive*/

/*Start section3-responsive*/
@media screen and (max-width: 400px) {
  .image1 {
    width: 324px;
    margin-right: 50px;
    margin-top: 1;
  }
  .description3 {
    text-align: left;
    padding-left: 47px;
    padding-right: 38px;
    margin-bottom: -95px;
  }
}
/*Start section3-responsive*/

/*Start section4-responsive*/
@media screen and (max-width: 400px) {
  .subsection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    /* background: gray; */
  }
  .description4 {
    text-align: left;
    margin-bottom: -83px;
    padding-left: 54px;
    padding-right: 38px;
  }
  .img4 {
    width: 324px;
    margin-bottom: -84px;
    margin-top: -248px;
  }
}

/*End section4-responsive*/

/*Start section5-responsive*/
@media screen and (max-width: 400px) {
  .image-related img {
    width: 400px;
    margin-right: 50px;
    margin-top: -77px;
  }
  .description {
    text-align: left;
    margin-right: 50px;
    margin-top: 100px;
    padding-left: 17px;
    padding-right: 20px;
  }
}
/*End section5-responsive*/

/*Start section6-responsive*/
@media screen and (max-width: 400px) {
  .subsection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .position {
    background-size: 350px 350px;
    margin-right: 267px;
    background-size: 350px 350px;
    width: 166px;
  }
  .img2 {
    width: 333px;
    height: 287px;
    margin-left: 28px;
    margin-top: 10px;
  }
  .description6 {
    margin-top: 10px;
    margin-left: 38px;
    padding-right: 38px;
  }
  .blue,
  .pink,
  .darkblue {
    width: 101px;
    height: 83px;
  }
}
/*End section6-responsive*/

/*Start section7-responsive*/
@media screen and (max-width: 400px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 100px;
  }
  .team1,
  .team2,
  .team3 {
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: 400px;
    margin-left: 64px;
  }
  .title-team {
    padding-left: 50px;
    padding-right: 61px;
  }
  .meet {
    padding-right: 55px;
    text-align: left;
  }
  /* .readline-team {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 16px;
  } */
}
/*Start section7-responsive*/

/*Start section8-responsive*/

@media screen and (max-width: 400px) {
  .hide {
    display: none;
  }
  .review {
    width: 67%;
    margin-left: 38px;
  }
}
/*End section8-responsive*/

/* Start section9-responsive */
@media screen and (max-width: 400px) {
  .blocks {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 29px;
  }
  .tittle {
    padding-left: 20px;
    padding-right: 38px;
  }
}
/* End section9-responsive */

@media (max-width: 400px) {
  #email-form {
    width: 200px;
  }
  .font-plus {
    font-size: 140%;
    padding-left: 10px;
    margin-left: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .top-and-bottom-bg {
    background-image: url("https://raw.githubusercontent.com/tomdemonrivall/Group-work-00/0e144cef6b397c3033893352716e75e00b6d8934/images/banner-bg.svg"),
      url("https://raw.githubusercontent.com/tomdemonrivall/Group-work-00/master/images/footer-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 1000px;
  }
}

/* @media screen and (max-width: 1200px) {
    .subsection { 
        width: 1130px;
    }
} */


@media (max-width: 600px) {
  .subsection {
    width: 95%;
    min-width: 450px;
  }
  .subscribe {
    flex-direction: row;
    height: 300px;
  }
  #email-form {
    border: 0px solid lightgrey;
    border-radius: 6px;
    flex-direction: column;
  }
  .email {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
  }
  .half {
    width: 90%;
  }
  .button-subscribe {
    width: 100%;
    border-radius: 5px;
    margin-top: 0px;
  }
}

@media (min-width: 600px) {
  .subsection {
    width: 575px;
  }
  .subscribe {
    flex-direction: row;
    height: 300px;
  }
  #email-form {
    border: 0px solid lightgrey;
    border-radius: 6px;
    flex-direction: column;
  }
  .email {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
  }
  .half {
    width: 80%;
  }
  .button-subscribe {
    width: 100%;
    border-radius: 5px;
    margin-top: 0px;
  }
}

@media (min-width: 750px) {
  .subsection {
    width: 720px;
  }
  .subscribe {
    flex-direction: row;
    height: 300px;
  }
  #email-form {
    border: 0px solid lightgrey;
    border-radius: 6px;
    flex-direction: column;
  }
  .email {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
  }
  .half {
    width: 80%;
  }
  .button-subscribe {
    width: 100%;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .subsection {
    width: 950px;
  }
  .subscribe {
    flex-direction: row;
    height: 260px;
  }

  #email-form {
    border: 1px solid lightgrey;
    border-radius: 6px;
    flex-direction: row;
  }
  .email {
    border: 0px solid lightgrey;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 0px;
  }
  .half {
    width: 45%;
  }
  .button-subscribe {
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media (min-width: 1200px) {
  .subsection {
    width: 1130px;
  }
  .subscribe {
    flex-direction: row;
    height: 260px;
  }
  .button-subscribe {
    width: 25%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  #email-form {
    border: 1px solid lightgrey;
    border-radius: 6px;
    flex-direction: row;
  }
  .email {
    border: 0px solid lightgrey;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 0px;
  }
  .half {
    width: 45%;
  }
}
/*Footer mobile devices - Media queries*/

@media screen and (orientation: portrait) and (max-width: 650px) {
  .footer.row.subsection {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1em;
  }
  .column.quarter.logo-media {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2em;
  }

  .quarter {
    width: 40%;
  }

  .margin-t {
    margin-top: 30px;
    padding-left: 0;
  }
  #Designed-by > hr {
    width: 100%;
  }
  .clients-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 300px;
  }
}
