.flex {
  display: flex;
}
.basiclogo {
  width: 20px;
  height: 20px;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.around {
  display: flex;
  justify-content: space-between;
}
.no-bullet {
  list-style-type: none;
}
.p-white {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style-type: none;
  margin-left: 10px;
}

.summary {
  width: 450px;
}

/* .border {
  border: 2px solid black;
} */

.align-c {
  align-items: center;
}
