@font-face {
  font-family: "font-awesome";
  src: url("fonts/fontawesome-webfont.eot");
  src: url("fonts/FontAwesome.otf");
  src: url("fonts/fontawesome-webfont.ttf");
  src: url("fonts/fontawesome-webfont.woff");
  src: url("fonts/fontawesome-webfont.woff2");
  src: url("fontawesome-webfont.svg");
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;

}

.h1 {
  font-weight: bold;
  color: white;
  font-size: 35px;
  margin-bottom: 50px;
  margin-top: 0;
}

.h2,
.h4p {
  color: white;
  margin-bottom: 0;
  margin-top: 10px;
}

.button-getstarted {
    margin-top: 30px;
}

.header-hero {
    width: 564px;
    padding-top: 64px;
    padding-bottom: 90px;
}

.clients-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.line1 {
  border: 3px solid rgb(253, 125, 114);
  width: 160px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.clients-logo img {
  opacity: 0.5;
  width: 150px;
  height: auto;
  padding: 1.5em;
}
