@font-face {
    font-family: 'font-awesome';
    src: url('fonts/fontawesome-webfont.eot'); 
    src: url('fonts/FontAwesome.otf');
    src: url('fonts/fontawesome-webfont.ttf');
    src: url('fonts/fontawesome-webfont.woff');
    src: url('fonts/fontawesome-webfont.woff2');
    src: url('fontawesome-webfont.svg');
}

#section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    box-sizing: border-box;
    max-width: 80%;
}

.description4 {
    max-width: 550px;
}

.image-related4 img {
    width: 413px;
    background-image: url(https://raw.githubusercontent.com/rosaelenalinares/Group-work-00/master/images/about-shape-2.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 439px;
    background-position: left center;
}

.image-related4 {
    padding-right: 82px;
}

.modern {
    line-height: 135%;
    font-size: 35px;
    margin-top: 20px;
}


p {
    color: rgb(125,124,130);
    line-height: 165%;
    font-size: 16px;
}