#section8 {
  max-width: 1340px;
  margin: 5em 0;
}
#section8 h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0;
}
#section8 p {
  margin: 5px 0;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: auto;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(247, 247, 247);
    margin-bottom: 1.5em;
}

#section8 .redline {
  margin: auto;
}
.icons-review {
  display: flex;
  justify-content: space-between;
}
.fab.fa-discourse.cyan {
  rotate: -60deg;
  color: #129bd2;
}
.lni.lni-star-filled {
  color: #fe7f6c;
}
.fab.fa-discourse.pink2 {
  color: #fe7f6c;
}
.container-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-avatar img {
  width: 100px;
  height: auto;
  margin-right: 1em;
}
.selected {
  border: 2px solid #fe7f6c;
}
.author {
  background-image: url("/images/services-shape.svg");
  transform: rotate(-120deg);
  margin-right: 1em;
}
.author-pic {
  transform: rotate(120deg);
}
.nav-reviews {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.fas.fa-circle {
  color: #fe7f6c;
  padding: 0 3px;
  opacity: 0.5;
}
/* .fas.fa-circle.first {
    color: #fe7f6c;
    padding: 0 3px;
    opacity: 1 !important;
    } */

 .nav-reviews > li > a >i:hover {
        color: #fe7f6c;
        opacity: 1 !important;
    }
    
    
.reviews.container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.reviews.container:first-child {
    flex-shrink: 2;
}
.reviews.container:nth-child(2) {
    flex-shrink: 2;
}
.reviews.container:nth-child(3) {
    flex-shrink: 2;
}
